body{
    font-family: "Playfair Display", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff9e4;
}

h1{
    text-align: center;
}

img{
    margin-bottom: 20px;
}

nav{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}